.bg-playerview {
	-fx-background-color: #333;
}

.bg-btn {
	background-color: #fff;
	-fx-background-color: #fff;
	border-radius: 50px;
	
	-fx-background-radius: 10em;
}

.title {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

.bg-btn:hover {
	
}

